.header__logo {
    padding-bottom: 41px;
    width: 142px;
    height: 33px;
}

@media (max-width: 767px) {
    .header__logo {
        padding-bottom: 31.6px;
        max-width: 104px;
        max-height: 25px;
        margin-left: 28px;
    }
}