.header {
    margin-bottom: 40px;
    padding-top: 45px;
    max-width: 880px;
    width: calc(100% - 2*200px);
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    border-bottom: 1px solid #545454;
  
}

@media (max-width: 767px) {
  .header {
    width: 100%;
    margin-top: 0;
    padding-top: 28px;
  }
}